<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-label color="primary" stacked>User</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label color="primary" stacked>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
  <button ion-button round type="submit" (click)="onLoadLocation()">LOGIN</button>

</ion-content>
