<!--
  Generated template for the CodescannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>CheckIn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label fixed>Selecione "CheckIn" para ler um código</ion-label>
    </ion-item>

    <ion-item>
      <button ion-button round type="submit" (click)="scan()">CheckIn</button>
    </ion-item>
  
  </ion-list>

</ion-content>
