<ion-header>
  <ion-navbar>
    <ion-title>Timer</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h1 text-center>{{parkName}}</h1>
  </ion-item>
  <ion-item>
    <h1 text-center>{{displayTime}}</h1>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <button ion-button round type="submit" (click)="scan()">Checkout</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>