<!--
  Generated template for the FimPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>SmartParking</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<h1>Obrigado!</h1>
Pode fechar a APP
</ion-content>
