<ion-header>
  <ion-navbar>
    <ion-title>
        Parques
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map" style="width:100%; height:100%;"></div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <button ion-button round type="submit" (click)="scan()">CheckIn</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>