<!--
  Generated template for the SurveyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Survey</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Satisfação geral do parque</h1>
<br>
  <button ion-button full large color="danger" (click)="sendSurvey(1)">Mau</button><br>
  <button ion-button full large color="warning" (click)="sendSurvey(2)">Médio</button><br>
  <button ion-button full large color="secondary" (click)="sendSurvey(3)">Bom</button>

</ion-content>